html {
  font-family: 'Open Sans', sans-serif;
  background: url(images/pattern.png);
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

table {
  width: 400 px;
  border-spacing: 40 px;
}

th, td {
  text-align: left;
  padding: 10 px;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}
